:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgb(60, 55, 55);
  background: linear-gradient(50deg, #cacaca 20%, #d3a693 60%);
}

#length-calc-component {
    font-size: 17px;
    padding-left: 20px;
    min-width: 200px;
    float:left;
    border: 2px solid transparent;
}

#map-component {
    font-size: 17px;
    padding-left: 40px;
    float:left;
}

section {
    padding-top: 5px;
    width: 250px;
    padding-left: 20px;
    font-weight: bold;
    padding-bottom: 5px;
}

h1 {
    text-align: center;
    font-size: 3.2em;
    line-height: 1.1;
}

.leaflet-container {
    width: 79vw;
    height: 77vh;
    border: 2px solid darkblue;
}

input {
    font-size: 17px;
}

.map-container {
    width: 800px;
    height: 50px;
    position: relative;
}

.map {
    width: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
}
.stack-top {
    margin-top: -55px;
    z-index: 9;
    margin-left: 300px;
    font-weight: bold;
}

#select1 {
    float:left;
    padding-right: 20px;
    width: 300px
}

#select2 {
    float:left;
    width: 300px
}

span {
    font-weight: bold;
}

.logo {
    width: auto;
    height: auto;
    position: absolute;
    top: 3%;
    left: 1%;
}